# electron_mirror=https://npmmirror.com/mirrors/electron/
# electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# https://runflare.com/mirrors/npm-mirror/
# registry=https://mirror-npm.runflare.com
# registry=https://nexus.shafadev.ir/repository/shafadoc-npm/
registry=https://mirror2.chabokan.net/npm/